// reset 
@import "reset";

// font
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
$font-family-Montserrat:'Montserrat', sans-serif;

// color
$main-orange-color: #FF6060;
$black-color: #000000; 
$grey-bg-color: #F6F6F6;
$border-radius-25: 25px;
* { 
    font-family: $font-family-Montserrat;
}
body {
    margin: 0;
}


main {
    margin: 10px 100px;
}


@media only screen and (max-width: 1240px) {

}
@media only screen and (max-width: 890px) {
    main {
        margin: 20px;
    }
}