@import "../../assets/scss/global";

.gallerie {
    background-color: $grey-bg-color;
    border-radius: $border-radius-25;
display: flex;
justify-content: center;
flex-wrap: wrap;
}
/* 
@media only screen and (max-width: 1240px) {
    .gallerie {
        
        
    }


} */
@media only screen and (max-width: 890px) {
    .gallerie {
        background-color: white;

    }
}