
.apropos {
    .banniere {
         background-image: url("./../assets/img/montagne.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
    }
    h1 {
        display: none;
    }
}