@import "./../assets/scss/global";



.error404 {
    * {
        color: $main-orange-color;
        text-align: center;
        margin: 50px auto;
    }
    h1 {
        font-weight: 700;
        font-size: 288px;
    }
    h2 {
        font-size: 36px;
    }
    a {
        font-size: 18px;
    }
}

@media only screen and (max-width: 1240px) {
    .error404 {
    h1 {
        font-size: 96px;

    }
}

}