@import "./../assets/scss/global";

.logement {
    color: $main-orange-color;
    .infoContainer {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        .titre-location-tags-container {
            max-width: 70%;
            h1 {
                font-size: 36px;
                font-weight: 500;
                margin: 22px 0 0 0;
            }
            h2 {
                margin:  10px 0;
                font-size: 18px;
                font-weight: 500;
            }
            .buttons {
                display: flex;
                flex-wrap: wrap;
                button {
                    background-color: $main-orange-color;
                    color: white;
                    border-radius: 12px;
                    border: 0;
                    margin: 15px 15px 30px 0;
                    padding: 7px 40px;
                    font-weight: 500;
                    font-size: 16px;
                }
            }
           
        }
        .host-rating {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            .host {
                display: flex;
                align-items: center;
                width: 167px;
                h3 {
                font-size: 18px;
                text-align: right;
                line-height: 25.67px;
                margin-right: 10px;
                font-weight: 500;
                }
                img {
                border-radius: 50%;
                width: 64px;
                height: 64px;
                }   
            }
        }      
    }
}


.description-equipement-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    .collapse {  
        margin: 0;
        width: 47%;
    }

}

@media only screen and (max-width: 890px) {
    .logement {
        
            .infoContainer {
                flex-direction: column;
                align-items: normal;
                .titre-location-tags-container {
                    max-width: 100%;
                    h1{
                        font-size: 22px;
                    }
                    h2{
                        font-size: 18px;
                    }
                    .buttons {
                        button {
                            margin: 6px 15px 3px 0;
                            font-size: 12px;
                        }
                    }
                }
                .host-rating {
                    flex-direction: row-reverse;
                    align-items: center;
                    justify-content: space-between;                 
                    .host {
                        justify-content: flex-end;
                        h3 {
                            font-size: 14px;
                            line-height: 17.11px;
                            max-width: 90px;
                        }
                        img {
                            width: 32px;
                            height: 32px;
                        }
                    }
                    .rating{
                        min-width: auto;
                        width: -webkit-fill-available;
                    }
                }
            }
    }
    .description-equipement-container{
        flex-direction: column;
        align-items: center;
        .collapse {  
            margin: 10px;
            width: 100%;
            }
        }
}