@import "../../assets/scss/global";

header {
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 70px;
    nav {
        ul {
            display: flex;
            li {
                width: 136px;
                height: 34px;
                a {
                    color: $main-orange-color;
                    font-size:24px;
                }
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    header {
        flex-wrap: wrap;
        img {
            width: 155px;
            padding-right: 10px;
        }
        margin: 10px;
        nav{
            ul {
                width: 165px;
                li {
                    width: 100px;

                    a {
                        text-transform: uppercase;
                        font-size: 14px;
                    }
                }
            }
        }
    }
  }
